<div class="container-fluid px-0 log-bg1">
  <div class="row mr-0 ml-0 align-items-lg-center log-bg2">
    <div class="col">
      <div class="log-bg-img">
        <div class="login-holder">
          <div class="login-holder-content">
            <div class="row h-100 justify-content-center justify-content-lg-start align-items-lg-center">
              <div class="col-md-4 col-lg-3"></div>
              <div class="col-md-8 col-lg-6">
                <div class="row justify-content-lg-center">
                  <div class="col col-md-12 col-lg-10 col-xl-9">
                    <div class="login-lf ml-lg-5 mt-5 mt-lg-0">
                      <div class="logo-placement"   >
                        <figure> 
                          <img 
                            *ngIf="Isphoto"
                            [src]="photopath"
                            alt="logo" 
                          />
                          <img *ngIf="superAdminLogo && !Isphoto" [style.background-color]="logoBgColor"
                            [src]="superAdminLogo"
                            alt="logo" 
                          />
                           <p class="logo-text">{{ isName ? clinicName : "" }}</p>
                        </figure>
                      
                      </div>
                      <div class="login-form-outer">
                        <h1 class="welcome-title">Welcome</h1>
                        <div class="login-form">
                          <form [formGroup]="loginForm">
                            <div class="form-group">
                              <input type="email" class="form-control" id="UserName" name="UserName"
                                formControlName="UserName" [ngClass]="{
                                  'is-invalid':
                                    loginSubmitted && loginfrm.UserName.errors
                                }" placeholder="Email" />
                              <mat-error *ngIf="loginSubmitted && loginfrm.UserName.errors">
                                <div *ngIf="loginfrm.UserName.errors?.required">
                                 Email is required
                                </div>
                                <div *ngIf="loginfrm.UserName.errors?.pattern">
                                  Invalid Email
                                </div>
                              </mat-error>
                            </div>
                            <div class="form-group">
                              <input class="form-control" type="password" placeholder="Password" id="Password"
                                name="Password" formControlName="Password" [ngClass]="{
                                  'is-invalid':
                                    loginSubmitted && loginfrm.Password.errors
                                }" />
                              <mat-error *ngIf="loginSubmitted && loginfrm.Password.errors">
                                <div *ngIf="loginfrm.Password.errors?.required">
                                  Password is required
                                </div>
                              </mat-error>
                            </div>
                            <div class="d-flex justify-content-between mb-30">
                              <a [routerLink]="['/forgotpassword']">Forgot Password?</a>
                            </div>
                            <div class="mb-30">
                              <button type="submit" (click)="Login()" class="btn btn-lg btn-icon btn-blue ">
                                Log in
                                <i><img src="../../../../assets/images/arrow-rit.svg" alt="->" /></i>
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /container -->
<!--
<div class="login-page display-table">
  <div class="container">
    <div class="login-logo">
      <h1 *ngIf="isName">{{ name }}</h1>
      <h1 *ngIf="!isName">MultiTenantApp</h1>
    </div>
    <div class="an-page-content">
      <div class="an-content-body">
        <div class="an-content-body-inner">
          <div class="an-body-topbar">
            <div class="an-page-title">
              <h2>Login</h2>
            </div>
          </div>
          <div class="an-body-inner">
            <form class="login-form" [formGroup]="loginForm">
              <div class="login-user" *ngIf="Isphoto == true">
                <img src="{{ baseUrl }}{{ photopath }}" alt="" />
              </div>
              <div class="top-user1" *ngIf="Isphoto == false">
                <img
                  _ngcontent-c9=""
                  alt=""
                  src="../../../../assets/images/user.png"
                />
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <mat-form-field>
                      <input
                        matInput
                        placeholder="User Name"
                        id="UserName"
                        name="UserName"
                        formControlName="UserName"
                        [ngClass]="{
                          'is-invalid':
                            loginSubmitted && loginfrm.UserName.errors
                        }"
                      />
                      <mat-error
                        *ngIf="loginSubmitted && loginfrm.UserName.errors"
                      >
                        <div *ngIf="loginfrm.UserName.errors.required">
                          User Name is required
                        </div>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <mat-form-field>
                      <input
                        matInput
                        type="password"
                        placeholder="Password"
                        id="Password"
                        name="Password"
                        formControlName="Password"
                        [ngClass]="{
                          'is-invalid':
                            loginSubmitted && loginfrm.Password.errors
                        }"
                      />
                      <mat-error
                        *ngIf="loginSubmitted && loginfrm.Password.errors"
                      >
                        <div *ngIf="loginfrm.Password.errors.required">
                          Password is required
                        </div>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="btn-save-cancel text-center">
                <button
                  mat-raised-button
                  class="ml-4 btn-save btn-primary"
                  (click)="Login()"
                >
                  Login
                </button>
              </div>
            </form>
            <div class="row">
              <div class="col-sm-7">
                <a [routerLink]="['/forgotpassword']" class="forgot-pwd"
                  >Forgot Password?</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->