.forgot-pwd.new-user {
    padding: 0 0 10px 0;
}

.new_user_sign {
    font-size: 13px;
}
/* .btn-blue:hover {
    color: #fff;
    background-color: #1c4387;
    border-color: #1c4387;

}
.btn-blue {
    color: #fff;
    background-color: #135f91;
    border-color: #135f91;
    width: 180px;
    border-radius: 30px;
} */