.forgot-pwd.new-user {
    padding: 0 0 10px 0;
}

.new_user_sign {
    font-size: 13px;
}
/* .btn-blue:hover {
    color: #fff;
    background-color: #1c4387;
    border-color: #1c4387;

}
.btn-blue {
    color: #fff;
    background-color: #135f91;
    border-color: #135f91;
    width: 180px;
    border-radius: 30px;
} */

.width100{
    width: 100%;
}
.mar_auto{
    margin: 0 auto;
}
.logo_login p{
font-size: 25px;
font-weight: bold;
margin-top: 16px;
}
.logo-placement img{
    width: 114px;
    height: 60px;
}

.login-lf{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 32px #0000000A;
border-radius: 8px;
padding: 20px;
}
.welcome-title{
    margin: 20px 0px;
}
.sign_btn{
    background: #22BAFF 0% 0% no-repeat padding-box;
    border-radius: 8px;
    border-color: #27b9fa;
    width: 100%;
    color: #fff;
}
.for-center-form{
    padding: 100px 0px;
}
.fomr_th{
    padding: 40px 20px;
}
.for-g{
    margin-top: 20px;
}
.black, .for-g a:hover{
    color: black;
}
.for-g a:hover{
    text-decoration: none;
}
.form-control.frm_inp{
    height: 50px;
}
.sign_btn{
    padding: 10px;
    margin-top: 10px;
}
.col_pad{
    padding: 0;
}
.col_pad img{
border-radius: 10px;
}

/* reset password screen */
.reset_pss p{
    font-size: 24px;
    color: #DF3838;
    font-weight: 500;
}
.try_lo{
    color: black;
    font-weight: 600;
}