<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Frontendfunn</title>
        <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css"
    />
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-white fixed-top head-width">
      <button class="navbar-toggler sideMenuToggler" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>

    
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item admin_img">
           <img src="../../assets/images/Image 2.png">
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link nav-drp drop_dw dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <!-- <i class="material-icons icon">
                person
              </i> -->
              <span class="text">Clinic Admin</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#"><button  (click)="logout()" class="log_out">Logout</button></a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="wrapper d-flex">
      <div class="sideMenu bg-side">
        <div class="sidebar">
          <div class="sidebar-log">
            <a class="logo_img black" href="#"><img src="../../assets/images/23122753AM-xyz.svg"><span>Pirates of HealthCare</span></a>
          </div>
          <div class="main_p gray">
            <p>Main</p>
          </div>
          
          <ul class="navbar-nav list_ul">
            <li class="nav-item">
              <a href="#" class="nav-link px-2">
                <i class="material-icons icon">
                  perm_identity
                </i>
               
                <span class="text">Practitoners</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2">
                <i class="material-icons icon">
                  reorder
                </i>
              
                <span class="text">Televisit List</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2">
                <i class="material-icons icon">
                  query_builder
                </i>
                <i class="fa fa-address-book-o" aria-hidden="true"></i>
                <span class="text">Covid Test</span></a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2">
                <i class="material-icons icon">
                  description
                </i>
                <span class="text">Reports</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2">
                <i class="material-icons icon">
                  pages
                </i>
                <span class="text">Customizations</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2">
                <i class="material-icons icon">
                  query_builder
                </i>
                <span class="text">Scheduler</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2 sideMenuToggler">
                <i class="material-icons icon expandView ">
                  view_list
                </i>
                <span class="text">Consent List</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2 sideMenuToggler">
                <i class="material-icons icon expandView ">
                  view_list
                </i>
                <span class="text">Availibilty</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2 sideMenuToggler">
                <i class="material-icons icon expandView ">
                  account_circle
                </i>
                <span class="text">Clinic Users</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link px-2 sideMenuToggler">
                <i class="material-icons icon expandView ">
                  settings
                </i>
                <span class="text">Settings</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- <div class="content">
        
    
        <p>hellllllohellllllohellllllohellllllohellllllohellllllohellllllohellllllohellllllo</p>
     
      </div> -->
    </div>
   
  </body>
</html>
