@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700');
 @import url('https://fonts.googleapis.com/css?family=Courgette');
 
 .bg-mattBlackLight {
	 background-color: #303337;
}
 .text-mattBlackLight {
	 color: #303337;
}
 .bg-mattBlackDark, body, .nav-link:hover, .nav-link.active {
	 background-color: #fff;
}
 .text-mattBlackDark {
	 color: #fff;
}
 .bg-mattGray {
	 background-color: #878d8d;
}
 .text-mattGray, body, .nav-link .icon, .nav-link .text {
	 color: #000000;
}
 .bg-mattRed {
	 background-color: #ec6271;
}
 .text-mattRed, .nav-link:hover .icon, .nav-link.active .icon, .nav-link:hover .text, .nav-link.active .text {
	 color: #ec6271;
}
 * {
	 font-family: 'Poppins', sans-serif;
}
 /* body {
	 height: 1000px;
} */

/* Header css */
.logo_img img{
    width: 42px;
    height: 22px;
}
.logo_img span {
    margin-left: 10px;
	font-size: 12px;
}
.black{
	color: #000;
}
.fixed-top.head-width{
	width: calc(100% - 188px);
    background-color: #FFFFFF!important;
    margin-left: 196px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #F5F5F5;
}
.sidebar-log{
	background: #fff;
    padding: 15px 10px;
    border-bottom: 1px solid #F5F5F5;
    border-right: 1px solid #F5F5F5;
}
.admin_img img {
    width: 36px;
    height: 36px;
    border-radius: 100%;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(0 0 0);
}
.navbar-dark .navbar-nav .nav-link.drop_dw {
	padding-top: 5px;
}
.main_p{
 margin-top: 30px;
 padding: 10px;
}
.gray{
color: #8B8FAA;
	}
.main_p p{
margin-bottom: 0;
}
.bg-side{
	background-color: #FAFBFD;
}
 .wrapper {
	 margin-top: 3.5rem;
}
 .wrapper .sideMenu {
	 position: fixed;
	 top: 0;
	 bottom: 0;
	 /* margin: 3.5rem auto auto; */
	 left: 0;
	 width: 215px;
	 transition: all ease 0.25s;
	 transform: translateX(-100%);
	 z-index: 2000;
}
 .wrapper .content {
	 width: 100%;
	 margin-left: 0rem;
	 transition: all ease 0.25s;
}
 .wrapper.active .sideMenu {
	 transform: translateX(0);
}
 .nav-link {
	 align-items: center;
	 display: block;
	 white-space: nowrap;
}
 .nav-link .icon {
	 margin-right: 0.25rem;
	 font-size: 1.875rem;
	 vertical-align: middle;
	 height: 2rem;
	 width: 2rem;
	 display: inline-flex;
	 justify-content: center;
	 align-items: center;
}
 .nav-link .text {
	 font-size: 0.875rem;
}
 @media (min-width: 992px) {
	 .wrapper .sideMenu {
		 transform: translateX(0);
	}
	 .wrapper .content {
		 margin-left: 12.5rem;
	}
	 .wrapper.active .sideMenu {
		 width: 5rem;
	}
	 .wrapper.active .sideMenu .nav-link {
		 text-align: center;
	}
	 .wrapper.active .sideMenu .nav-link .icon {
		 margin-right: 0;
	}
	 .wrapper.active .sideMenu .nav-link .text {
		 display: none;
	}
	 .wrapper.active .content {
		 margin-left: 5rem;
	}
}
/***********************/
 body .subscribe {
	 position: fixed;
	 bottom: 10px;
	 right: 10px;
	 text-align: center;
	 z-index: 5000;
	 border-radius: 4px;
	 border: 1px solid #fff;
}
 body .subscribe #subscribe {
	 display: inline-block;
	 border-radius: inherit;
	 padding: 10px 20px;
	 background-color: #f00;
	 color: #fff;
	 text-decoration: none;
	 font-family: 'Courgette', cursive !important;
}
 body .subscribe #subscribe:hover {
	 background-color: #c00;
}
 body .subscribe #subscribe span {
	 margin-left: 2px;
}
/********************/
 .animate {
	 animation: animate 3s ease-in-out infinite;
}
 @keyframes animate {
	 0%, 100% {
		 opacity: 0;
	}
	 50% {
		 opacity: 1;
	}
}
 