
@font-face {
    font-family: 'Circular-Std';
    src: url('../../fonts/CircularStd-Regular.eot');
    src: url('../../fonts/CircularStd-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/CircularStd-Regular.woff2') format('woff2'),
        url('../../fonts/CircularStd-Regular.woff') format('woff'),
        url('../../fonts/CircularStd-Regular.ttf') format('truetype'),
        url('../../fonts/CircularStd-Regular.svg#CircularStd-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular-Std-Book';
    src: url('../../fonts/CircularStd-Book.eot');
    src: url('../../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/CircularStd-Book.woff2') format('woff2'),
        url('../../fonts/CircularStd-Book.woff') format('woff'),
        url('../../fonts/CircularStd-Book.ttf') format('truetype'),
        url('../../fonts/CircularStd-Book.svg#CircularStd-Book') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Circular-Std-Medium';
    src: url('../../fonts/CircularStd-Medium.eot');
    src: url('../../fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/CircularStd-Medium.woff2') format('woff2'),
        url('../../fonts/CircularStd-Medium.woff') format('woff'),
        url('../../fonts/CircularStd-Medium.ttf') format('truetype'),
        url('../../fonts/CircularStd-Medium.svg#CircularStd-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


