.log-bg1 {
 //   background: url(../../images/circle3.png) left top;
    background-repeat: no-repeat;
    position: relative;
    &:after {
        content: "";
     //   background: url(../../images/circle1.png) no-repeat  ;
        position: absolute;
        height: 150px;
        width: 150px;
        left: 14%;
        top: 30px;
        background-size: 100%;
        background-position: center;
    }
    &:before {
        content: "";
      //  background: url(../../images/circle2.png) no-repeat  ;
        position: absolute;
        height: 180px;
        width: 180px;
        left: 14%;
        bottom: 0;
        background-size: 100%;
        background-position: bottom;
    }
    
}
.log-bg2 {
    // background: url(../../images/login01.png) no-repeat center bottom;
    background-size: 100% auto;
    height: 100vh;
    position: relative;
    &:after {
        content: "";
      //  background: url(../../images/mainbg-mobile.png) no-repeat  ;
        position: absolute;
        height: 100%;
        width: 100%;
        right: 0;
        top: 0;
        background-size: auto 100%;
        background-position: right;
     //   background-color: #e6f2ff;

        @include breakpoint(sm) {
            width: 100%;
            background-position: left;
            background-position: left;
            background-size: cover;

        }
        @include breakpoint(md) {
         //   background: url(../../images/mainbg.png) no-repeat  ;
            width: 100%;
            background-position: left;
         //@at-root   background-color: #e6f2ff;
            background-position: center bottom;
        }
        @include breakpoint(lg) {
          //  background: url(../../images/mainbg.png) no-repeat  ;
            background-position: left;
            width: 50%;
            background-color: transparent;
            background-size: cover;
        }
        @include breakpoint(xl) {
            background-position: left;
            width: 50%;
            background-size: cover;
        }
    }
}


.log-bg-img {
    // background-color: $color-white;
    position: relative;
    width: 100%;
    height: 100%;
    // &::before,
    // &::after {
    //   content: " ";
    //   position: absolute;
    //   background-image: url("../../images/log1.png");
    //   background-position: top right;
    //   background-repeat: no-repeat;
    //   background-size: contain;
    //   right: 0;
    //   top: 0;
    //   height: 100%;
    //   z-index: 2;
    //   width: 50%;
    //   @include breakpoint(lg) {
    //     width: 90.5%;
    //   }
    // }
    // &::before {
    //   background-color: #e6f2ff;
    //   background-position: bottom right;
    //   @include breakpoint(tablet, max-width) {
    //     display: none;
    //   }
    //   @include breakpoint(lg) {
    //     background-color: transparent;
    //   }
    // }
    // &::after {
    //   background-image: url("../../images/log2.png");
    //   background-position: bottom left;
    //   right: auto;
    //   top: auto;
    //   bottom: 0;
    //   left: 0;
    //   width: 100%;
    //   z-index: 1;
    //   height: 16.5%;

    //   @include breakpoint(lg) {
    //     height: 39.5%;
    //   }
    // }
}
.login-holder {
  position: relative;
  z-index: 3;
  height: 100vh;
  width: 100%;
  // @include aspect-ratio(1, 2);
  // @include breakpoint(sm) {
  //   @include aspect-ratio(1, 1.2);
  // }
  // @include breakpoint(md) {
  //   @include aspect-ratio(1, 1.2);
  // }
  // @include breakpoint(lg) {
  //   @include aspect-ratio(8, 5);
  // }
  .login-holder-content {
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    height: 100%;

    @include breakpoint(sm) {
      // position: absolute;
      height: 100%;
    }

    .login-lf {
      height: 100%;
      width: 100%;
      padding: $px10 $px5;     
      // background-color: rgba(255, 255, 255, 0.9);
      .login-form-outer {
        //    background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 25px -5px rgba(0,0,0,0.20);
        padding: 30px;
       // max-width: 500px;
        min-height: 50vh;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @include breakpoint(md) {
          padding: 60px;
        }
      }

      @include breakpoint(md) {
        padding: $px30 $px10;
      }

      @include breakpoint(lg) {
        padding: $px10;
      }

      @include breakpoint(xl) {
        padding: $px30;
      }

      .logo-placement {
        margin-bottom: 14px;
        // max-width: 500px;

        figure {
          padding: 3px;

          img {
            width: auto;
            max-height: 150px;
            margin: 0;
            max-width: 100%;
            display: block;
            background: transparent !important;            
            // padding: 15px;
            // background: #1ef5ff;
            padding: 4px;
            border-radius: 12px;
            margin: 0 auto;
          }
        }
        .logosbtitle-text {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 30px;
          text-align: center;
          color: #4680ff;
          margin-bottom: 0px;
          margin-top: 0px;
        }
        .logo-text {
          font-style: normal;
          font-weight: 500;
          font-size: 30px;
          line-height: 30px;
          text-align: center;
          color: #4680ff;
          margin-bottom: 0px;
          margin-top: 13px;
        }

        .logo-text a {
          font-weight: normal;
          font-size: 15px;
          color: deepskyblue;
        }

        .logo-text span {
          font-weight: normal;
          font-size: 14px;
          color: black;
        }

        .logo-text a:hover {
          font-weight: bold;
          font-size: 18px;
          color: dodgerblue;
        }

        .iframeEmbed {
          width: auto;
          //height: 200px;
          text-align: center;
        }
      }

      .or-info {
        font-family: 'Circular-Std-Medium';
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #485c8c;
        position: relative;
        margin-bottom: 20px;

        @include breakpoint(xl) {
          margin-bottom: 40px;
        }

        span {
          display: inline-block;
          vertical-align: middle;
          padding-left: 15px;
          padding-right: 15px;
        }

        &::after,
        &::before {
          content: ' ';
          width: 100%;
          max-width: 70px;
          height: 1px;
          background-color: #e6e6e6;
          vertical-align: middle;
        }
      }
    }
  }
}
.welcome-title {
    font-family: 'Circular-Std';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #444444;
    font-size: 20px;
    margin-bottom: 10px;
    position: relative;
    &::before {
        display: inline-block;
        content: "";
        border-top: .3rem solid $color-primary;
        width: 2rem;
        margin: 0;
        transform: translateY(-1rem);
        position: absolute;
        bottom: -21px;
    }
    @include breakpoint(md) {
        font-size: 30px;
        margin-bottom: 20px;
    }

    @include breakpoint(xl) {
        font-size: 32px;
        line-height: 44px;
        margin-bottom: 30px;
    }
}
.login-form {
    font-family: 'Circular-Std-Medium';
    font-weight: 400;
    .form-control {
        font-family: 'Circular-Std-Book';
        font-weight: 500;
        background-color: $color-white !important;
        border: 2px solid #e6e6e6;
        box-sizing: border-box;
        border-radius: 5px;
        color: $color-primary;
        @include placeholder($color-primary);
    }
    .form-group {
        .form-check-input {
            margin-top: 2px;
        }
    }
}
.login-padd
{ 
  padding: 0 10rem 0 10rem ;
}
.schimg{
  position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.logo-place{   
    display: table;
    width: 100%; 
   
}
.imagealign{
  vertical-align: middle;
  display: table-cell;
  text-align: right;
  img{
    max-height: 100px;
    border-radius: 10%;
    padding: 5px;
  }
   
}
@media screen and (orientation: landscape) and (min-device-width: 319px) and (max-device-width: 668px) {
    .log-bg1,
    .log-bg2 {
        height: auto;
    }
    // .login-holder .login-holder-content .login-lf {
    //   //  max-width: 50%;
    //     // margin: 0 auto;
    // }
}

@media screen and (orientation: landscape) and (min-device-width: 800px) and (max-device-width: 812px) {
    .log-bg1,
    .log-bg2 {
        height: auto;
    }
   .login-padd
   { 
     padding: 0rem !important;
   }
}
@media screen and (min-width: 980px) and (max-width: 1500px) {
  .log-bg1,
  .log-bg2 {
      height: auto;
  }
  .login-padd
  { 
    padding: 0 3rem 0 3rem !important;
  }
}
@media screen and (min-width: 850px) and (max-width: 980px) {
  .log-bg1,
  .log-bg2 {
      height: auto;
  }
  .login-padd
  { 
    padding: 0 2rem 0 2rem !important;
  }
}
@media screen and (max-width: 855px) {
  .login-padd
  { 
    padding: 0rem !important;
  }
  .logo-text{
    text-align: center !important;
    justify-content: center;
  }
  .logo-place{   
    display: grid;
    width: 100%; 
  } 
  .imagealign{
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    img{
      max-height: 100px;
      border-radius: 10%;
      padding: 5px;
    }
     
  }
}